.candidates-backdrop {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .candidates-content {
    background-color: white;
    
    /* position: fixed; */
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;

    overflow: auto;

    /* margin: 10% auto; /* 15% from the top and centered */
    /* padding: 20px; */
    /* border: 1px solid #888; */
    /* width: 60%; Could be more or less, depending on screen size */ */
  }

  table {
    margin: 1em 0;
    border-collapse: collapse;
    border: 0.1em solid #d6d6d6;

    font-size:  smaller;

    /* overflow: auto; */

    /* text-align: left;
    position: relative;
    border-collapse: collapse;  */
  }

  th,
  td {
    padding: 0.25em 1.0em 0.15em 2.0em;
    vertical-align: text-top;
    text-align: left;
    text-indent: -0.5em;
  }
  
  th {
    vertical-align: bottom;
    background-color: #666;
    color: #fff;
  }
  

  th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  tr:hover {
    background-color: #CDCDCD;
    cursor: pointer;
    font-weight: bold
  }

  td.blue {
    color: blue;
  }

  td.red {
    color: red;
  }

  td.number {
    text-align: right;
  }

  tr.bold {
    font-weight: bold;
  }

  th.light-text {
    font-weight: 200;
    font-size: smaller;
    vertical-align: center;  
  }

  th.big-text {
    font-size:large; 
  }