.mediaLabel {
    font-size: 13px;
    font-weight: 500;
    width: 90px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    fill: black;
}

.biasLabel {
    font-size: 15px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    fill: black;
    font-weight: 600;
}

.eventLabel {
    font-size: 12px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    fill: black;
}

.month-day {
    font-size: 11px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    fill: black;
}

.eventTypeLabel {
    font-size: 13px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    font-weight: 500;
}

.button-text {
    font-size: 13px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    font-weight: 700;
}


rect.selection {
    stroke-width: 3;
    stroke: black;

}

.story-rect {
    stroke-width: 0;
    fill-opacity: 1;
}

.background-month-large {
    font-size: 140px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    font-weight: 900;
    fill-opacity: 0.08;
}

.background-month {
    font-size: 22px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    font-weight: 900;
    fill-opacity: 0.2;
}

.background-year {
    font-size: 14px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    font-weight: 900;
    fill-opacity: 0.2;
}


.days-until-election {
    font-size: 12px;
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    font-weight: 600;
    fill-opacity: 0.8;
    fill: black;
}

.month-range-label {
    font-size: 11px;
    font-weight: normal; 
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    fill: var(--black-text);
} 

.current-day-label {
    font-size: 13px;
    font-weight: normal; 
    text-anchor: start;
    cursor: default;
    pointer-events: none;
    fill: var(--black-text);
} 


.current-date-line {
    stroke: darkgrey;
    stroke-width: 1;
    pointer-events: none;
}

.media-selected {
    fill: var(--very-light-grey);
}

.dateAxis text {
    font-size: 12px;
}

.mediaLine {
    stroke: lightgrey;
}


.month-line {
    stroke: #E6E6E6;    
    stroke-width: 6;
}

.event-line {
    stroke: black;
    stroke-width: 1;
}


.linkLine {
    stroke: black;
}

.domain {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

.brush {
      fill: #4682b4; 
      fill-opacity: .075; 
}